<% content_for :title, "Editing host" %>

<h1>Editing host</h1>

<%= render "form", host: @host %>

<br>

<div>
  <%= link_to "Show this host", @host %> |
  <%= link_to "Back to hosts", hosts_path %>
</div>
